<div class="p-4">
    <h4 class="fst-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
    <li><a href="#">Dezembro 2021</a></li>
    <li><a href="#">Novembro 2021</a></li>
    <li><a href="#">October 2021</a></li>
    <li><a href="#">September 2021</a></li>
    <li><a href="#">August 2021</a></li>
    <li><a href="#">July 2021</a></li>
    <li><a href="#">June 2021</a></li>
    <li><a href="#">May 2021</a></li>
    <li><a href="#">April 2021</a></li>
    <li><a href="#">March 2021</a></li>
    </ol>
</div>